<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista de Álbumes</h1>
<ul>
    {% for album in albums %}
        <li>
            <strong>Título:</strong> {{ album.titulo }} <br>
            <strong>Artista:</strong> {{ album.artista.nombre }} <br>
            <strong>Año de publicación:</strong> {{ album.año_publicacion }} <br>
            <strong>Número de canciones:</strong> {{ album.canciones }} <br>
            <br>
        </li>
    {% endfor %}
</ul>
</body>
</html>