<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista de Artistas</h1>
    <ul>
        {% for artista in artistas %}
            <li>
                <strong>Nombre:</strong> {{ artista.nombre }} <br>
                <strong>Género:</strong> {{ artista.genero }} <br>
                <strong>País:</strong> {{ artista.pais }} <br>
                <strong>Edad:</strong> {{ artista.edad }} <br>
                <br>
            </li>
        {% endfor %}
    </ul>
</body>
</html>