<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Bienvenido a nuestra aplicación de música</h1>
    <br>
    <a href="{% url 'artistas' %}">Ver lista de artistas</a><br>
    <a href="{% url 'albums' %}">Ver lista de álbumes</a><br>
    <a href="{% url 'canciones' %}">Ver lista de canciones</a><br>
    <a href="{% url 'discografias' %}">Ver lista de discografias</a><br>
    <a href="{% url 'playlists' %}">Ver lista de playlists</a><br>
    <a href="{% url 'premios' %}">Ver lista de premios</a>
</body>
</html>