<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista de Playlists</h1>
<ul>
    {% for playlist in playlists %}
        <li>
            <strong>Nombre:</strong> {{ playlist.nombre }} <br>
            <strong>Género:</strong> {{ playlist.genero }} <br>
            <strong>Canciones:</strong> {{ playlist.canciones }} <br>
            <br>
        </li>
    {% endfor %}
</ul>
</body>
</html>