<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Editar Pelicula</h1>

    <form method="POST">
        {{forma.csrf_token}}
        <p>
            {{forma.nombre.label}}<br/>
            {{forma.nombre(size=30)}}
        </p>
        <p>
            {{forma.duracion.label}}<br/>
            {{forma.duracion(size=30)}}
        </p>
        <p>
            {{forma.genero.label}}<br/>
            {{forma.genero(size=30)}}
        </p>
        <p>
            {{forma.enviar()}}
        </p>
    </form>
</body>
</html>