<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        a{
            display: block;
        }
    </style>
</head>
<body>
    <h1>Página index</h1>
    <h2>Webapp</h2>
    <a href="indexEscuela">Listado de Escuelas</a>
    <a href="indexDomicilio">Listado de Domicilios</a>
    <a href="indexEstudiante">Listado de Estudiantes</a>
    <a href="indexGerente">Listado de Gerentes</a>
    <a href="indexMaestro">Listado de Maestros</a>
</body>
</html>