<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% load static %}
    <h1>Listado de Maestros</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>nombre</th>
                <th>apellido</th>
                <th>carrera</th>
            </tr>
        </thead>
        <tbody>
            {%for maestro in maestros%}
                <tr>
                    <td>{{maestro.id}}</td>
                    <td>{{maestro.nombre}}</td>
                    <td>{{maestro.apellido}}</td>
                    <td>{{maestro.carrera}}</td>
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>