<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% load static %}
    <h1>Listado de Escuelas</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>nombreEscuela</th>
                <th>ciudad</th>
                <th>telefono</th>
            </tr>
        </thead>
        <tbody>
            {%for escuela in escuelas%}
                <tr>
                    <td>{{escuela.id}}</td>
                    <td>{{escuela.nombreEscuela}}</td>
                    <td>{{escuela.ciudad}}</td>
                    <td>{{escuela.telefono}}</td>
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>